{% extends 'admin_panel.html' %}

{% block admin_content %}
{% load static %}
    <h2>Panel de Productos</h2>
    <a href="{% url 'create_product' %}" class="btn btn-primary">Crear Producto</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for product in product_list %}  <!-- Cambio de 'products' a 'product_list' -->
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.nombre }}</td>  <!-- Cambio de 'name' a 'nombre' -->
                    <td>{{ product.precio }}</td>  <!-- Cambio de 'price' a 'precio' -->
                    <td>{{ product.stock }}</td>  <!-- Asegúrate de tener el campo 'stock' en tu modelo Product -->
                    <td>
                        {% if product.id %}
                        <a href="{% url 'edit_product' product_id=product.id %}" class="btn btn-primary">Editar</a>
                        {% endif %}
                        <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
