{% extends 'admin_panel.html' %}

{% block admin_content %}
{% load static %}
<h2>Panel de Usuarios</h2>
<!-- Contenido y funcionalidad específica de "Usuario" -->
<a href="{% url 'create_superuser' %}" class="btn btn-primary">Crear Usuario</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de Usuario</th>
            <th>Email</th>
            <th>Es Administrador</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{% if user.is_superuser %}Sí{% else %}No{% endif %}</td> <!-- Mostrar "Sí" o "No" según si el usuario es un superusuario -->
            <td>
                <a href="{% url 'edit_user' user.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br><br><br><br><br><br><br>
{% endblock %}
